.feature {
  display: flex;
  gap: 30px;
}
.feature__item {
  width: 270px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  width: 100%;
  margin-bottom: 30px;

  background-color: var(--comand-fon);
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.feature-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}
